@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500;600&display=swap');
.bpm_title{
	margin: 0;
	font-weight: 400;
	font-size: 1em;
	margin: 21px 0px 20px;
	display: inline-block;
	font-family: 'Raleway';
}
span {
	font-family: 'Raleway';
	font-size: .9em;
}
.input_container {
	display: flex;
	justify-content: space-between;
}
input {
	width: 70px;
	border: none;
	border-bottom: 1px solid gray;
	background-color: #f7f7f7;
	outline: none;
}
span {
	margin: 0px 10px;
}