@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500;600&display=swap');
.background_container{
	background-color: #f7f7f7;
}
.background_container{
	z-index: 1;
    position: relative;
    top: -140px;
	height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
	img {
		height: 100vh;
		width: 100%;
	}
}
.container_items{
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	margin-top: 100px;
}

.catalogue_container {
	display: flex;
	align-items: flex-start;
	min-height: 100vh;
}
.filter_container{
	height: auto;
	width: 20%;
	margin-left: 10%;
	margin-top: 100px;
	font-family: 'Raleway';
}
.filters-title {
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.4rem;
	color: #212121;
}
.filters-subtitle {
	margin: 1em 0;
	color: #AB47BC;
	font-weight: 900;
}
.item-container{
	width: 47%;
    display: inline-block;
    margin-right: 2%;
}
.MuiCheckbox-colorSecondary.Mui-checked {
	color: #5f5b5c !important;
}
.input-filter-BPM {
	width: 25%;
	margin: 3px 0;
	font-size: 1.1em;
	border-style: none;
	border-bottom: #212121 2px solid;
	outline: none;
}
.span-filters-BPM {
	font-size: 1em;
	margin: 0 10px;
}