@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
.contact__container {
	width: 100%;
	min-height: 80vh;
	display: flex;
	align-items: center;
	background-color: #111111
}
.contact__container--form {
	width: 50%;
	min-height: 80vh;
	display: flex;
    flex-direction: column;
    align-items: center;
	background-image: url(https://img.freepik.com/foto-gratis/pared-insonorizada-estudio-sonido-fondo-esponja-absorbente-sonido_38816-269.jpg?size=626&ext=jpg&ga=GA1.2.1173097843.1604016000);
	background-repeat: no-repeat;
	background-size: cover;
}
.form-title {
	margin: 120px auto 30px auto;
	width: 75%;
	font-size: 1.5rem;
	font-family: 'Oswald', sans-serif;
	line-height: 1.5em;
	letter-spacing: 2px;
	color: beige;
}
.contact--form--inputs {
	display: flex;
	flex-direction: column;
	div {
		display: flex;
	}
}
.contact__container--media {
	//border: 1px solid red;
	margin: 0 auto;
	width: 40%;
	// min-height: 80vh;
	// display: flex;
	// flex-direction: column;
}
.contact__container--media--data {
	//border: 1px solid red;
	width: 75%;
	margin: 0 auto;
	// margin: 63px 0px 0px 120px;
	// height: 400px;
}
.contact-input {
	outline: none;
	padding: 3%;
	width: 50%;
	margin: 5px;
}
.contact-textArea {
	outline: none;
	margin: 5px;
	width: 92.5%;
	padding: 12px 8px;
	margin-bottom: 5%;
}
.contact-input::placeholder,
.contact-textArea::placeholder {
	color: #616161;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.form__container{
	width: 50%;
	height: 40%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10%;
}
.contact-button{
	align-self: flex-end;
	justify-self: flex-end;
	background-color: #AB47BC;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 11px 23px;
	margin: 0px !important;
	margin-right: 5px !important;
	color: wheat;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
}
.contact--media--title {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: beige;
	letter-spacing: 2px;
}
.contact-data-description {
	p {
		margin: 0;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		color: beige;
	}
	h5 {
		color: #AB47BC;
		font-family: 'Oswald', sans-serif;
		margin: 0;
		font-size: 18px;
		letter-spacing: 1px;
	}
	margin: 40px 0px;
}
.icon-wps{
	align-self: flex-end;
	justify-self: flex-end;
	text-align: end;
	img {
		width: 75px;
		height: 75px;
		cursor: pointer;
		
	}
}