.footer-container {
	display: flex;
	flex-direction: column;
	background-color: #dbd8d8;
	justify-content: center;
	align-items: center;
	position: relative;
	h3{
		margin: 0;
	}
}
#button-arrow-footer{
	position: absolute;
	bottom: 70px;
	justify-self: center;
	align-self: center;
	padding: 0;
}
.icons-socialMedia-footer{	
	position: absolute;
	bottom: 60px;
	display:flex;
	justify-self: center;
	align-self: center;
}
#footer-icon-social{
	width: 30px;
	height: 30px;
	margin: 0 10px;
	cursor: pointer;
}
#footer-icon-social:hover{
	opacity: 0.5;
}
.parpadea {
  
	animation-name: parpadeo;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  
	-webkit-animation-name:parpadeo;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
  
@-moz-keyframes parpadeo{  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
  
@-webkit-keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
  
@keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}