@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.header__container_initial {
    height: 100vh;
    background-image: url(https://musicndtech.files.wordpress.com/2016/03/fondo_hd_169_mesa_mezclas_bn.jpg);
    background-size: cover;
    font-family: 'Raleway';
    h2 {
        letter-spacing: 5px;
    }
    h2 a{
        color: white;
    }
    h2 a::before{
        content: '●';
    }
}
.header__nav_initial {
    transition: all 0.5s ease;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 0px 60px;
}
.header__nav_last{
    transition: all 0.5s ease;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    padding: 0px 60px;
    position: fixed;
    width: 91%;
}
.header__menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
        list-style: none;
        margin-left: 30px;
    }
    li a {
        color:white;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: large;
    }
    li a:hover {
        text-decoration: underline;
    }
}
