@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.header__container_initial {
    height: 140px;
    background-color: transparent;
    background-size: cover;
    font-family: 'Raleway';
    h2 {
        letter-spacing: 5px;
        width: 300px;
        margin-left: 3%;
    }

    h2 a {
        color: white;
        margin: -12px;
    }

    h2 a::before{
        content: '●';
    }
    position: relative;
    z-index: 2;
}

.header__nav_initial {
    transition: all 0.9s ease;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 0px 60px;
}

.header__nav_last{
    transition: all 0.9s ease;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 60px;
    position: fixed;
    width: 94%;
    z-index: 1;
    margin: 0 auto;
}

.header__menu {
    display: flex;
    width: 558px;
}

.header__menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
        list-style: none;
        margin-left: 24px;
    }

    li, a {
        color:white;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: large;
        font-size: .8em;
    }
    
    li:hover, a:hover {
        text-decoration: underline;
    }
}

#button-cart-count{
    color: white !important;
}
