@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500;600&display=swap');
video {
	border: 1px solid red;
	source {
		width: 500px;
		height: 400px;
	}
}
.player_container {
	width: 100%;
    // border: 1px solid red;
    display: flex;
    background-color: #c4c1c1;
    height: 86%;
    position: absolute;
    top: 90px;
	align-items: center;
	justify-content: center;
}
.react-player {
	width: 550px !important;
	height: 300px !important;
	justify-self:  flex-end;
	text-align: left;
	margin: 30px 70px;
}
.player_description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35%;
	height: 50%;
	padding: 10px;
	align-items: flex-start;
	font-family: 'Raleway';
	h1{
		margin: 0;
		color: #212121;
		display: flex;
		//margin-bottom: 15px;
	}
	border-bottom: 1.5px solid #212121;
}
.player_items{
	display: flex;
	div {
		display: flex;
		align-items: center;
		margin: 10px 16px 10px 0px
	}
}
.button-shopping-contact {
	display: flex;
	align-items: center;
	h3 {
		display: inline;
	}
}
.MuiButton-containedSecondary {
	background-color: #353233 !important;
}