.MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
    background-color: rgba($color: #9e9e9e5e, $alpha: 0.3) !important;
}
.makeStyles-highlight-29, .makeStyles-highlight-8{
    color: #9e9e9e5e !important;
    background-color: rgb(168, 168, 168) !important;
}
.tableCart-total-button {
	display: flex;
	width: 400px;
	align-items: center;
	justify-content: space-around;
}